<div class="container">
    <h1 class="display-4">Lista de Clientes</h1>
    <br>
    <div class="container border rounded shadow-sm">
        <div class="row text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Data de Cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <th scope="row" routerLink="/detalhes/{{cliente.id}}">{{cliente.name}}</th>
                        <th scope="row">{{cliente.user}}</th>
                        <th scope="row">{{cliente.date}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>