<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Tipo</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Aluno</option>
                <option>Professor</option>
            </select>
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome">

            <label for="usuario">Usuário</label>
            <input type="text" class="form-control" id="usuario">
        </div>
    </form>
    <br>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Enviar</button>
    </div>
</div>