<body>
    <div class="container" style="padding-top: 10px;">
      <div class="row">
        <div class="col-4">
          <button type="button" class="btn btn-secondary" routerLink="/clientes">Clientes</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-secondary" routerLink="/clientes">Clientes</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-secondary" routerLink="/clientes">Clientes</button>
        </div>
      </div>
    </div>
</body>